h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: green;
    text-align: left;
    margin-left: 0.5cm;
}

h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: left;
    margin-left: 0.5cm;
    font-size: larger;
}

body{
    background-image: linear-gradient(
  45deg,
  hsl(0deg 0% 0%) 46%,
  hsl(0deg 0% 1%) 89%,
  hsl(0deg 0% 2%) 96%,
  hsl(0deg 0% 2%) 99%,
  hsl(0deg 0% 3%) 100%,
  hsl(0deg 0% 3%) 101%,
  hsl(0deg 0% 3%) 101%,
  hsl(0deg 0% 3%) 101%,
  hsl(0deg 0% 4%) 100%,
  hsl(0deg 0% 4%) 100%
);
}

button{
    color: white;
    background-color: forestgreen;
    size: 100mm;
    height: 1cm;
    width: 4cm;
    border: none;
    border-radius: 10px;
    padding: auto;
    margin-top: 24px;
    margin-left: 30px;
}

#pass-el{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 0.5cm;
    margin-top: 1cm;
    font-size: large;
}